{
	email webmaster@spokane.markets
	servers :443 {
		protocols h1 h2 h3
	}
}

spokane.markets {
	 @env_probe path_regexp env \.env(\.(swp|qa|dist|demo|ci|uat|backup|example|old|defaults|preview|sample|save|production|local|staging|test|dev|prod|bak|stage))?$
	handle @env_probe {
			respond 404
	}
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}

	encode zstd gzip

	handle_path /uploads/* {
		root * /srv/uploads
		file_server
	}

	handle {
		reverse_proxy web:3000
	}
}

analytics.spokane.markets {
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}

	encode zstd gzip
	reverse_proxy umami:3000
}
